.header{
    display: flex;
    width: 100vw;
}

.headerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.myIcon{
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.header h1{
    width: calc(100vw - 200px);
    font-size: 40px;
    color: #555555;
}