.career{
    width: calc(100vw - 200px);
    height: calc(100vh - 200px); /* 例: ビューポートの高さからヘッダーなどの高さを差し引いた高さ */
    overflow-y: scroll;
}

.career::-webkit-scrollbar{
    display: none;
}


.introduce{
    font-size: 20px;
}


.sectionContainer{
    display: flex;
    justify-content: space-between;
}

.imgArea{
    display: block;
    margin-right: 10px;
}

.imgArea p{
    text-align: center;
    color: #555555;
    font-size: 12px;
}

.img{
    max-width: 100%;
    height: 150px;
}