.sideBar{
    height: calc(100vh - 200px);
    width: 200px;
    box-sizing: border-box;
}

.sidebarOptions{
    position: relative;
    height: calc(100vh - 200px);
    width: 200px;
    transition: width 0.3s;
}



.sidebarOptions ul{
    height: calc(100vh - 200px);
}

.sidebarOptions li{
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    padding: 10px 20px;
}

.sidebarOptions li:hover{
    background-color: gray;
    border-radius: 20px;
    opacity: 0.6;
}

.sidebarOptions a{
    text-decoration: none;
    color: white;
}

