.sideBar{
    height: calc(100vh - 200px);
    width: 200px;
}

.sidebarOptions{
    position: relative;
    height: calc(100vh - 200px);
    background-color:  #ffbb33;
    width: 20px;
    transition: width 0.3s;
}

.sidebarOptions:hover{
    width: 200px;
}

.sidebarOptions ul{
    height: calc(100vh - 200px);
}

.sidebarOptions li{
    list-style: none;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.githubIcon{
    position: absolute;
    bottom: 0;
    width: 100% !important;
    font-size: 60px !important;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.githubIcon:hover{
    background-color: gray;
}